
.blog-title a, h3 a, input {
    color: white !important;
    text-decoration: none ;
}

.ql-picker-options, .gmnoprint {
    background-color: #1b2832 !important;
}

.paper {
    background-color: rgba(36, 53, 64, 0.6) !important;
    color: white !important;
}

*, ::placeholder {
    color: white !important
}

a {
    text-decoration: none !important;
}

.ql-formats button {
    margin: 0 !important;
}

input {
    border-color: white !important;
}

a:hover {
    font-weight: bold;
}

html, body {
    background: #1b2832;
    position: absolute;
    overflow: scroll;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

button, button.basic {
    background-color: #ff974d !important;
    margin-right: 10px;
}

button.secondary {
    background-color: #a45f32 !important;
    margin-right: 10px;
}



@-webkit-keyframes loader-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes loader-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
.loader {
    position: absolute;
    margin: -18px 0 0 -18px;
    border: 3.6px solid #ff974d;
    box-sizing: border-box;
    overflow: hidden;
    width: 36px;
    height: 36px;
    left: 50%;
    top: 50%;
    animation: loader-spin 2s linear infinite reverse;
    -webkit-filter: url(#goo);
    filter: url(#goo);
    box-shadow: 0 0 0 1px #ff974d inset;
}
.loader:before {
    content: "";
    position: absolute;
    -webkit-animation: loader-spin 2s cubic-bezier(0.59, 0.25, 0.4, 0.69) infinite;
    animation: loader-spin 2s cubic-bezier(0.59, 0.25, 0.4, 0.69) infinite;
    background: #ff974d;
    -webkit-transform-origin: top center;
    transform-origin: top center;
    border-radius: 50%;
    width: 150%;
    height: 150%;
    top: 50%;
    left: -12.5%;
}


.blog-title {
    color: white !important;
    font-family: 'Spicy Rice', cursive !important;
    font-size: 40pt !important;
}

header {
    background-color: rgba(36, 53, 64, 0.6) !important;
}

.pulsate {
    -webkit-animation: pulsate 1s ease-out;
    -webkit-animation-iteration-count: infinite;
    opacity: 0.5;
}
@-webkit-keyframes pulsate {
    0% {
        opacity: 0.5;
    }
    50% {
        opacity: 1.0;
    }
    100% {
        opacity: 0.5;
    }
}


